{
  "tabWidth": 4,
  "useTabs": true,
  "semi": false,
  "singleQuote": true,
  "experimentalTernaries": true,
  "experimentalOperatorPosition": "start",
  "printWidth": 80,
  "quotes": true,
  "bracketSpacing": true,
  "objectWrap": "preserve",
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "singleAttributePerLine": false
}
